@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900");

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, div
pre, a, abbr, acronym, address, big, cite, code, del, em, font, img, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, footer {
  display: block;
}

a {
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

html, body {
  background: #fff;
  font-family: "Raleway", sans-serif;
}

body {
  min-width: 360px;
  width: auto !important;
}

.body-3 {
  background: rgb(27, 27, 27);
}

::selection {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

::-moz-selection {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.section {
  position: relative;
  padding-top: 100px;
  padding-bottom: 80px;
}

.section.colored {
  background: #ffffff;
}

.hr {
  bottom: 0px;
  width: 100%;
  height: 1px;
  margin-top: 100px;
  border-bottom: 1px solid #eee;
}

.center-heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 42px;
  color: #1e1e1e;
  letter-spacing: 0.25px;
  margin-bottom: 30px;
  position: relative;
  text-align: center;
}

.center-heading .section-title {
  font-weight: 500;
  font-size: 28px;
  color: #1e1e1e;
  letter-spacing: 1.75px;
  line-height: 38px;
  margin-bottom: 20px;
}

.center-heading.colored .section-title {
  color: #ffffff;
}

.center-text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #777;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 50px;
}

.center-text p {
  font-size: 15px;
  color: #777;
  margin-bottom: 30px;
}

.left-text {
  font-weight: 400;
  font-size: 16px;
  color: #777;
  line-height: 28px;
  letter-spacing: 1px;
}

.left-text p {
  margin-bottom: 30px;
}

.t-3 {
  color:rgb(232, 232, 232);
  text-shadow:3px 3px 5px black;
}

.h1-3 {
  font-size: 32px;
  margin-bottom: 0px;
}

.h2-3 {
  font-style: italic;
  font-size: 24px;
}

.p-3 {
  margin-top: 30px;
  text-align: left;
  margin-bottom: 30px;
}

.padding-bottom-top-60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.padding-bottom-80 {
  padding-bottom: 80px !important;
}

.padding-bottom-100 {
  padding-bottom: 100px !important;
}

.border-bottom {
  border-bottom: 1px solid #eee !important;
}

.mbottom-30 {
  margin-bottom: 30px !important;
}

.align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important;
}

.align-self-bottom {
  -ms-flex-item-align: flex-end !important;
  align-self: flex-end !important;
}

.padding-bottom-0 {
  padding-bottom: 0px !important;
}

.padding-top-0 {
  padding-top: 0px !important;
}

.padding-top-80 {
  padding-top: 80px !important;
}

.padding-top-70 {
  padding-top: 70px !important;
}

.padding-top-20 {
  padding-top: 20px !important;
}

.margin-bottom-0 {
  margin-bottom: 0px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-bottom-45 {
  margin-bottom: 45px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-bottom-60 {
  margin-bottom: 60px !important;
}

.margin-bottom-100 {
  margin-bottom: 100px !important;
}

@media (max-width: 991px) {
  html, body {
    overflow-x: hidden;
  }
  .mobile-top-fix {
    margin-top: 100px;
    margin-bottom: 0px;
  }
  .mobile-bottom-fix {
    margin-bottom: 30px;
  }
  .mobile-bottom-fix-big {
    margin-bottom: 60px;
  }
}

a.main-button-link {
  text-decoration: underline !important;
  font-size: 12px;
  border-radius: 15px;
  padding: 12px 21px;
  background-color: #ff0000cc;
  text-transform: uppercase;
  text-shadow: 0px 0px 5px #000000;
  color: #fff;
  letter-spacing: 0.3px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

a.main-button-link:hover {
  background-color: #ff5e00;
  padding: 14px 24px;
}

a.main-button-link:visited {
  background-color: #ff5e00;
  color: pink;
}

.header-area {
  position: fixed;
  top: 30px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 100px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header-area .main-nav {
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  border-radius: 40px;
  min-height: 80px;
  background: #fff;
}

.header-area .main-nav .logo {
  float: left;
  margin-top: 0px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  margin-left: 32px;
}

.header-area .main-nav .logo img {
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header-area .main-nav .nav {
  float: right;
  margin-right: 32px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  position: relative;
  z-index: 999;
}

.header-area .main-nav .nav li {
  padding-left: 20px;
  padding-right: 20px;
}

.header-area .main-nav .nav li:last-child {
  padding-right: 0px;
}

.header-area .main-nav .nav li a {
  display: block;
  font-weight: 500;
  font-size: 13px;
  color: #fff;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1px;
}

.header-area .main-nav .nav li a:hover {
  color: #ff6600;
}

.header-area .main-nav .menu-btn {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 23px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 999;
  right: 42px;
  display: none;
}

.header-area .main-nav .menu-btn span,
.header-area .main-nav .menu-btn span:before,
.header-area .main-nav .menu-btn span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #3B566E;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.header-area .main-nav .menu-btn span:before,
.header-area .main-nav .menu-btn span:after {
  content: "";
}

.header-area .main-nav .menu-btn span {
  top: 16px;
}

.header-area .main-nav .menu-btn span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-btn span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-btn.active span,
.header-area .main-nav .menu-btn.active span:before,
.header-area .main-nav .menu-btn.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-area .main-nav .menu-btn.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #530808;
}

.header-area .main-nav .menu-btn.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #530808;
}

.header-area.header-sticky {
  min-height: 80px;
}

.header-area.header-sticky .logo {
  margin-top: 25px;
}

.header-area.header-sticky .nav {
  margin-top: 20px !important;
}

.header-area.header-sticky .nav li a {
  color: #000000;
}

.header-area.header-sticky .nav li a.active {
  color: #ff0000;
}

@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-left: 12px;
    padding-right: 12px;
  }
  .header-area .main-nav:before {
    display: none;
  }
}

@media (max-width: 991px) {
  .header-area {
    padding: 0px 15px;
    height: 80px;
    box-shadow: none;
    text-align: center;
  }
  .header-area .container {
    padding: 0px;
  }
  .header-area .logo {
    margin-top: 27px !important;
    margin-left: 30px;
  }
  .header-area .menu-btn {
    display: block !important;
  }
  .header-area .main-nav {
    overflow: hidden;
  }
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    margin-top: 80px !important;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-left: 0px;
  }
  .header-area .main-nav .nav li {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eed;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .header-area .main-nav .nav li a {
    height: 44px !important;
    line-height: 44px !important;
  }
}

@media (min-width: 992px) {
  .header-area .main-nav .nav {
    display: flex !important;
  }
}

.kezdo {
  overflow: visible;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/e1p.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

.kezdo-2 {
  background-image: url("../img/t2p.png");
  background-size: cover;
}

.kezdo .header-text {
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  text-align: center;
  width: 100%;
}

@media (max-height: 860px) {
  .kezdo .header-text {
    top: 55%;
  }
}

@media (max-height: 800px) {
  .kezdo .header-text {
    top: 55%;
  }
}

@media (max-height: 744px) {
  .kezdo .header-text {
    top: 60%;
  }
}

@media (max-height: 700px) {
  .kezdo .header-text {
    top: 63%;
  }
}

@media (max-height: 660px) {
  .kezdo .header-text {
    top: 65%;
  }
}

@media (max-height: 630px) {
  .kezdo .header-text {
    top: 70%;
  }
}

.kezdo .header-text h1 {
  font-weight: 550;
  font-size: 38px;
  line-height: 50px;
  letter-spacing: 1.2px;
  margin-bottom: 30px;
  color: #fff;
  text-shadow: 0px 0px 10px #000000;
}

@media (max-height: 666px) {
  .kezdo .header-text h1 {
    line-height: 40px;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
}

.kezdo .header-text p {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  line-height: 26px;
  letter-spacing: 0.3px;
  margin-bottom: 50px;
  position: relative;
  text-shadow: 0px 0px 8px #000000;
}

@media (max-height: 666px) {
  .kezdo .header-text p {
    font-size: 14px;
    color: #fff;
    line-height: 23px;
    letter-spacing: 0.2px;
    margin-bottom: 40px;
  }
}

@media (max-width: 991px) {
  .kezdo .header-text {
    top: 65% !important;
    transform: perspective(1px) translateY(-60%) !important;
    text-align: center;
  }
  .kezdo .header-text h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
  }
  .kezdo .header-text h1 span {
    color: #fff;
  }
  .kezdo .header-text p {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
  }
}

@media (max-width: 820px) {
  .kezdo .header-text {
    top: 65% !important;
    transform: perspective(1px) translateY(-60%) !important;
  }
   .kezdo .header-text h1 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 15px;
  }
  .kezdo .header-text p {
    margin-bottom: 20px;
  }
}

@media (max-width: 765px) {
  .kezdo {
    margin-bottom: 30px;
  }
  .kezdo .header-text {
    top: 65% !important;
    transform: perspective(1px) translateY(-50%) !important;
    text-align: center;
  }

  .kezdo .header-text-2 {
    top: 60% !important;
  }

  .kezdo .header-text .buttons {
    display: none;
  }
  .kezdo .header-text h1 {
    font-weight: 600;
    font-size: 28px !important;
    line-height: 30px !important;
    margin-bottom: 30px !important;
  }
  .kezdo .header-text h1 span {
    color: #fff;
  }
  .kezdo .header-text p {
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 40px;
  }
}

.index-img {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: all 0.4s ease 0s !important;
  -moz-transition: all 0.4s ease 0s !important;
  -o-transition: all 0.4s ease 0s !important;
  transition: all 0.4s ease 0s !important;
}

.index-img:hover {
  transform: scale(1.05);
}

.index-img-area {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  cursor: pointer;
  display: block;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.33);
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  position: relative;
  margin-bottom: 30px;
}

.index-img-area-d {
  cursor: auto;
}

.index-sect {
  padding-bottom: 0px;
  padding-top: 30px;
  margin-top: -180px;
  z-index: 9;
}

.index-sect-2 {
  padding-bottom: 30px;
  padding-top: 30px;
  margin-top: -240px;
  z-index: 9;
}

.index-sect-3 {
  padding-bottom: 0px;
  padding-top: 150px;
  margin-top: 0px;
  z-index: 9;
}

@media (max-height: 860px) {
  .index-sect {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: -80px;
  }
}

@media (max-height: 800px) {
  .index-sect {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: -60px;
  }
}

@media (max-height: 750px) {
  .index-sect {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: -20px;
  }
}

@media (max-height: 700px) {
  .index-sect {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 40px;
  }
}

@media (max-height: 630px) {
  .index-sect {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 60px;
  }
}

@media (max-width: 1200px) {
  .index-sect {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 80px;
  }

  .index-sect-2 {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: -160px;
  }
}

@media (max-width: 991px) {
  .index-sect {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 260px;
  }

  .index-sect-2 {
    padding-bottom: 0px;
    padding-top: 30px;
    margin-top: -110px;
    z-index: 9;
  }
}

@media (max-width: 767px) {
  .index-sect {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 120px;
  }

  .index-sect-2 {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: -70px;
  }
}

.form-fix {
  margin-top: 10%;
}

#urlap h5 {
  font-weight: 500;
  font-size: 18px;
  color: #1e1e1e;
  letter-spacing: 0.25px;
  line-height: 26px;
}

.form-text {
  font-weight: 400;
  font-size: 14px;
  color: #6F8BA4;
  letter-spacing: 0.6px;
  line-height: 26px;
}

.form-text p {
  margin-bottom: 28px;
}

.form-form input, .form-form textarea {
  color: #777;
  font-size: 13px;
  border: 1px solid #eed;
  width: 100%;
  height: 50px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  margin-bottom: 30px;
}

.form-check input {
  height: auto;
  width: auto;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 0px;
  margin-bottom: 0px;
}

.form-form textarea {
  height: 150px;
  resize: none;
  padding: 20px;
}

@media (min-width: 768px) {
  div .form-img {
    display: none;
  }
}

div .form-img {
  text-align: center;
  border-radius: 20px;
  max-height: 230px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

div .form-img:hover {
  transform: scale(1.03);
}

@media (min-width: 992px) {
  div .form-img {
    display: block;
    max-height: 230px;
  }
}

@media (max-width: 767px) {
  div .form-img {
    margin-top: 75px;
    display: block;
  }
}

div .form-fig {
  text-align: center;
  display: block;
}

@media (min-width: 768px) {
  div .form-fig {
    display: none;
  }
}

@media (max-width: 767px) {
  div .form-fig {
    margin-top: 5px;
    display: block;
  }
}

@media (min-width: 992px) {
  div .form-fig {
    margin-top: 5px;
    display: block;
  }
}

footer {
  background-image: linear-gradient(78deg, #ff0000 0%, #ffc400 91%);
  overflow-x: hidden;
  width: 100%;
}

footer .en {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 11px;
  color: #fff;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  footer {
    margin-top: 0px;
  }
  footer .text {
    margin-bottom: 30px;
  }
  footer .footer-nav {
    margin-bottom: 30px;
  }
}

.xhtml-footer {
  background-image: linear-gradient(78deg, #ff0000 0%, #ffc400 91%);
  overflow-x: hidden;
  width: 100%;
}

.xhtml-footer p {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 11px;
  color: #fff;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

button.form-submit {
  border: none;
  cursor: pointer;
  font-size: 12px;
  border-radius: 18px;
  padding: 12px 18px;
  margin: 12px;
  background-color: #ff0000cc;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.3px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

button.form-submit:hover {
  background-color: #ff5e00;
  transform: scale(1.05);
}

video {
  max-width: 100%;
  height: auto;
  display: block;
  justify-content: center;
  border-radius: 22px;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2), 0 10px 10px 0 rgba(0,0,0,0.1);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

video:hover {
  transform: scale(1.02);
}

a.video-description {
  text-decoration: underline !important;
  color: #aaa;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a.video-description:hover {
  color: rgb(87, 87, 87);
}

a.video-description:visited {
  color: rgb(192, 192, 192);
}

div .div-vid {
  margin-top: 15%;
}

@media (max-height: 666px){
  div .div-vid {
    margin-top: 5%;
  }
}

@media (max-width: 1199px){
  div .div-vid {
    margin-top: 25%;
  }
}

@media (max-width: 991px){
  div .div-vid {
    margin-top: 5%;
  }
}

@media (max-width: 767px){
  div .div-vid {
    margin-top: 7%;
  }
}

div .div-l {
  margin-top: 0%;
}

@media (max-width: 1199px){
  div .div-l {
    margin-top: 5%;
  }
}

@media (max-width: 991px){
  div .div-l {
    margin-top: 30%;
  }
  div .div-l-2{
    margin-top: 5%;
  }
}

@media (max-width: 767px){
  div .div-l {
    margin-top: 33%;
  }
  div .div-l {
    margin-top: 0%;
  }
}

caption {
  text-align: center;
  font-weight: bold;
}


.fadein {
  opacity: 0;
  -moz-transition: opacity 0.75s;
  -webkit-transition: opacity 0.75s;
  -o-transition: opacity 0.75s;
  transition: opacity 0.75s;
}

body.loaded .fadein {
  opacity: 1;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

details
{
    transition: height 0.4s ease;
    overflow: hidden;
}

details:not([open])
{
    height: 1.2em;
}

details[open]
{
    height: 3em;
}

.xhtml-h1 {
  text-align: center;
  font-weight: 500;
  font-size: 38px;
  line-height: 50px;
  letter-spacing: 1.5px;
  margin-bottom: 30px;
  text-shadow: 0px 0px 5px #00000030;
}

.xhtml-h2 {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1.2px;
  margin-bottom: 25px;
  text-shadow: 0px 0px 5px #00000030;
}

.xhtml-p {
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-shadow: 0px 0px 2px #00000030;
}

.xhtml-mobile-fix {
  padding-top: 15%;
}

@media (max-width: 768px) {
  .xhtml-mobile-fix {
    padding-top: 30%;
  }
}